/*
NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

// @media print {
//   body {
//     visibility: hidden;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 100%;
//     -webkit-print-color-adjust: exact;
//     print-color-adjust: exact;
//   }

//   * {
//     box-shadow: none !important;
//     padding: 0 !important;
//     margin: 0 !important;
//   }

//   #section-to-print {
//     visibility: visible !important;
//     position: absolute;
//     left: 0;
//     top: 0;
//     max-height: 100%;
//     overflow: visible !important;
//     // background: white !important;
//     // color: black !important;
//   }

//   #section-to-hide {
//     visibility: hidden;
//     height: 0;
//   }
//   div {
//     border: 1px solid black;

//     // page-break-after: always;
//   }
//   // div {
//   //   break-inside: avoid;
//   // }
// }

// #section-to-print {
//   visibility: hidden;
// }

@media print {
  html,
  body {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
  div {
    border: 1px solid black;
  }
}

.row {
  padding: 0.5rem 0 !important;
}

.row:first-child {
  padding-left: 0.5rem !important;
}

$colors: (
  "6E7083": #6E7083,
  "D5BA57": #D5BA57,
  "C86F6F": #C86F6F,
  "93AC94": #93AC94,
  "A5BEE7": #A5BEE7,
  "E1AC80": #E1AC80,
  "A78C7D": #A78C7D,
  "FF0000": #FF0000
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
    color: white !important;
  }
}

.rdt_TableCell{
  cursor: pointer;
}

.select__menu .select__menu-list .select__option.select__option--is-selected{
  background: white !important;
  color: #6e6b7b !important;
}
